// Base
@use "base/reset";
@use "base/typography";

// Layout
@use "layout/navigation";
@use "layout/wrappers";
@use "sections/hero";
@use "sections/trainers";
@use "layout/footer";
@use "sections/brands-carousel";
@use "sections/reviews";
@use "sections/contact";
@use "sections/stages";
@use "sections/why-us";

// Components
@use "components/buttons";
@use "components/cards";
@use "components/labels";
@use "components/heading-subheading";
