@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.brands-carousel {
  padding: $gap 0;
  overflow: hidden;
  position: relative;

  // Fade effect
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: clamp(30px, 16vw, 100px);
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, $color-bg, transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, $color-bg, transparent);
  }

  &__track {
    display: flex;
    align-items: center;
    // gap: 60px;
    width: max-content;
    animation: scroll 20s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    height: 40px;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
      opacity: 0.6;
      filter: grayscale(100%);
      @include transition-base(all, $transition-slow);

      &:hover {
        opacity: 1;
        filter: grayscale(0%);
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
