@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.hero {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-inline: auto;
  text-align: center;
  padding-block: clamp(32px, 6vw, 80px);
  padding-bottom: 2rem;
  &__subtitle {
    display: none;
  }
  &__content {
    display: contents;
  }
  h1 {
    order: 1;
    font-size: $h1-size-base;
    text-align: left;
  }
  &__image {
    order: 2;
    margin-block: 40px;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
      max-height: 60vh;
      object-fit: contain;
      display: block;
    }
  }
  p {
    order: 3;
    margin-bottom: 2rem;
    text-align: left;
  }
  &__actions {
    order: 4;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
    gap: $gap;
    text-align: left;
    &__subtitle {
      display: block;
      font-family: $font-secondary;
      font-weight: $font-weight-medium;
      font-size: 42px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    h1 {
      margin-bottom: 10px;
      font-size: $h1-size-tablet;
    }
    &__actions {
      justify-content: flex-start;
      margin-top: auto;
    }
    &__image {
      order: unset;
      margin-bottom: 0;
      justify-content: center;
    }
  }
}
