@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.why-us-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  .card-bottom-border {
    border-bottom: $border-dashed;
    margin-inline: 1.5rem;
  }

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: repeat(3, 1fr);
    .card-bottom-border {
      display: none;
    }
    #why-us-card-1 {
      border-bottom: $border-dashed;
      border-right: $border-dashed;
    }
    #why-us-card-2 {
      border-bottom: $border-dashed;
      border-right: $border-dashed;
    }
    #why-us-card-3 {
      border-bottom: $border-dashed;
    }
    #why-us-card-4 {
      border-right: $border-dashed;
    }
    #why-us-card-5 {
      border-right: $border-dashed;
    }
  }
}
