@use "../abstracts/variables" as *;

.about-hero {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-inline: auto;
  text-align: center;
  padding-block: clamp(32px, 6vw, 80px);

  &__content {
    display: contents;
  }

  h1 {
    order: 1;
    font-size: $h1-size-base;
    text-align: left;
  }
  &__image {
    order: 2;
    margin-block: 40px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      max-height: 60vh;
      object-fit: contain;
      display: block;
    }
  }

  p {
    order: 3;
    margin-bottom: 2rem;
    text-align: left;
  }

  &__actions {
    order: 4;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 2fr;
    gap: $gap;
    text-align: left;

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    h1 {
      margin-bottom: 10px;
      font-size: $h1-size-tablet;
    }

    &__actions {
      justify-content: flex-start;
      margin-top: auto;
    }

    &__image {
      order: unset;
      margin-bottom: 0;
      justify-content: center;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    background-color: $color-bg-grey;
    border-radius: $radius-lg;
    padding: clamp(32px, 3vw, 60px);
    margin-block: clamp(32px, 6vw, 80px);
  }
}

.text-block{
    display: flex;
    flex-direction: row;
    gap: $gap;
    text-align: left;
    padding: $padding-card;
    background-color: $color-bg-grey;
    border-radius: $radius-lg;
    ul{
        padding-left: $gap;
    }
    img {
        max-width: 200px;
        height: auto;
        align-self: center;
    }
    @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
    }
}