@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
  background-color: $color-bg;
  color: $color-text;
  padding-block: 4rem 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  @include container;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    text-align: center;
    margin-bottom: 2rem;

    @media (min-width: $breakpoint-tablet) {
      grid-template-columns: 1.5fr 1fr 1fr;
      gap: $gap;
      text-align: left;
    }
  }

  &__column.branding {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

    @media (min-width: $breakpoint-tablet) {
      align-items: flex-start;
    }
  }

  &__logo {
    img {
      height: 48px;
      width: auto;
    }
  }

  &__description {
    opacity: 0.7;
    line-height: 1.5;
    max-width: 320px;
    font-size: $font-base;
  }

  &__heading {
    font-family: $font-secondary;
    font-size: $h2-size-base;
    font-weight: $font-weight-bold;
    color: $color-dark;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  &__links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: $gap-xs;

    li a {
      color: rgba($color-text, 0.8);
      font-weight: $font-weight-medium;
      font-size: $font-sm;
      @include transition-base();

      &:hover {
        color: $color-dark;
        padding-left: 5px;
      }
    }
  }

  &__bottom {
    padding-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;

    p {
      opacity: 0.5;
      font-size: $font-base;
    }
  }
}
