@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.trainer-card {
  display: flex;
  flex-direction: row;
  max-width: 36.25rem;
  cursor: pointer;
  @include card-bold-base;
  @include hover-active-bold-effect;

  &__heading {
    display: flex;
    flex-direction: column;
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-left: auto;
    height: clamp(160px, 12vw, 208px);

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
      display: block;
    }
    .icon-label {
      display: none;
    }
  }
  &.grey {
    background: $color-card-grey;
  }
  &.yellow {
    background: $color-label-yellow;
  }
  @media (max-width: $breakpoint-desktop) {
    flex-direction: column;
    justify-content: space-between;
    gap: $gap-sm;
    &__heading {
      display: contents;
      .icon-label {
        display: none;
      }
    }
    &__labels {
      justify-self: start;
      align-self: start;
    }
    &__image {
      margin-left: 0;
      justify-content: space-between;
      .icon-label {
        display: block;
        justify-self: start;
      }
    }
  }
}

.stages-card {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
  background: $color-card-grey;
  @include card-bold-base;

  &__heading {
    display: flex;
    flex-direction: column;
  }

  &__icon-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__icon-label {
    font-size: 3.75rem;
    font-weight: $font-weight-medium;
    color: $color-dark;
    margin-right: auto;
  }

  h3 {
    font-size: clamp(1.5rem, 2vw, 2rem);
  }
}

.why-us-card {
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
  padding: 1.5rem;

  img {
    height: 32px;
    width: 32px;
  }

  h3 {
    font-size: clamp(1.125rem, 1vw, 1.25rem);
  }

  p {
    font-size: clamp(1rem, 0.8vw, 1.125rem);
  }
}

.review-card {
  scroll-snap-align: start;
  background-color: $color-reviews-card-bg;
  border-radius: $radius-md;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: flex;
    gap: 1rem;
    align-items: center;

    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .meta {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 500;
        font-size: 1rem;
        color: white;
      }

      .date {
        font-size: 0.875rem;
        color: $color-reviews-text-muted;
      }
    }
  }

  .stars {
    color: #f4b400;
    letter-spacing: 2px;
    font-size: 1.25rem;
  }

  .review-text {
    color: $color-reviews-text;
    font-size: 0.95rem;
  }

  .read-more {
    color: $color-reviews-link;
    font-size: 0.95rem;
    margin-top: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}

.repair-maintance-card {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
  background: $color-card-orange;
  @include card-bold-base;

  &.green {
    background: $color-card-green;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: $h2-size-base;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: clamp(1rem, 0.5vw, 2rem);
    li {
      background: url("/images/trainer_page_icons/check.svg") no-repeat 0px 0px
        transparent;
      padding-left: 2rem;
    }
  }
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $gap-sm;
  background: $color-card-grey;
  
  @include card-bold-base;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gap-sm;

    h2 {
      font-size: clamp(18px, 2vw, 28px);
    }
  }
  &__image {
    // display: flex;
    // justify-content: center;
    // margin-left: auto;
    height: clamp(150px, 22vw, 270px);

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    // max-width: 36.25rem;
    padding: 1.5rem;

    // padding: 1.5rem;
    &__image {
      margin-left: auto;
      max-height: 100px;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    flex-direction: column;
    padding: 3.125rem;
    // gap: 0;
    &__image {
      
      margin-top: 0;
      margin-left: 0;
      max-height: 180px;
      &.margin-right{
        margin-right: -30px;
      }
    }
    
  }
}

.information-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: clamp(3.125rem, 5vw, 5rem);
  padding-inline: clamp(3.125rem, 3vw, 3.75rem);
  border-radius: $radius-xxl;
  background-color: $color-bg-grey;
  gap: 40px;

  p {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: $font-weight-medium;
  }

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

.for-whom-card {
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
  padding: 1.5rem;

  img {
    height: 32px;
    width: 32px;
  }

  h3 {
    font-size: clamp(1.125rem, 1vw, 1.25rem);
  }

  p {
    font-size: clamp(1rem, 0.8vw, 1.125rem);
  }

  @media (max-width: $breakpoint-tablet) {
    background-color: $color-card-grey;
    @include card-bold-base;

  }
}