@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.trainer-card {
  display: flex;
  flex-direction: row;
  max-width: 36.25rem;
  @include card-bold-base;
  @include hover-active-bold-effect;

  &__heading {
    display: flex;
    flex-direction: column;
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-left: auto;
    height: clamp(160px, 12vw, 208px);

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
      display: block;
    }

    .icon-label {
      display: none;
    }
  }

  &.grey {
    background: $color-card-grey;
  }

  &.yellow {
    background: $color-label-yellow;
  }

  @media (max-width: $breakpoint-desktop) {
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(1rem, 1vw, 1.25rem);

    &__heading {
      display: contents;

      .icon-label {
        display: none;
      }
    }

    &__labels {
      justify-self: start;
      align-self: start;
    }

    &__image {
      margin-left: 0;
      justify-content: space-between;

      .icon-label {
        display: block;
        justify-self: start;
      }
    }
  }
}
