@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.heading-subheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $gap-heading;
  margin-top: $margin-section;
  @media (max-width: $breakpoint-desktop) {
    flex-direction: column;
    align-items: start;
  }
  @media (max-width: $breakpoint-mobile) {
    text-align: center;
    align-items: center;
    .label {
      align-self: center;
      display: inline;
    }
  }
}
