@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.heading-subheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(2rem, 3.5vw, 2.5rem);
  margin-top: 5rem;

  @media (max-width: $breakpoint-desktop) {
    flex-direction: column;
    align-items: start;
  }
  @media (max-width: $breakpoint-mobile) {
    text-align: center;
    align-items: center;
    .label {
      align-self: center;
    }
  }
}
