@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.label {
  width: fit-content;
  background: $color-label-white;
  padding-inline: 7px;
  border-radius: $radius-sm;
  font-size: $h2-size-base;
  font-weight: $font-weight-medium;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  white-space: normal;

  &.yellow {
    background: $color-label-yellow;
  }
}
.icon-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  .icon {
    width: 41px;
    height: 41px;
  }
}
