// hidden elements
.menu-icon {
  display: none;
}

.mobile-menu-items {
  display: none;
}

// === Tablet ===
@media (max-width: 1100px) {
  h1 {
    font-size: 48px;
  }

  header {
    justify-content: space-between;
    .right {
      position: relative;
      img {
        width: 90%;
        max-width: 400px;
        min-width: 300px;
        height: auto;
        padding-left: 16px;
      }
    }
  }
}

// === Mobile ===
@media (max-width: 768px) {
  %btn-base {
    font-size: 16px;
  }

  .sub-heading {
    font-size: 18px;
    line-height: 1.5;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 2px;
    -webkit-tap-highlight-color: transparent;

    img {
      height: 32px;
      width: 32px;
    }
  }
  .mobile-menu-items {
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    flex-direction: column;
    background: $surface;
    z-index: 800;
    justify-content: left;
    align-items: start;
    gap: 24px;
    padding: 16px 12px;
    transform: translateX(-100%);
    transition: all 300ms ease;

    a {
      font-size: 20px;
    }

    .close-icon {
      display: block;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      img {
        height: 32px;
        width: 32px;
      }
    }

    &.active {
      transform: translateX(0);
    }
  }

  h1 {
    font-size: 40px;
    line-height: 120%;
  }

  .container {
    max-width: 700px;
  }

  h2 {
    font-size: 24px;
    line-height: 130%;
  }

  h3 {
    font-size: 20px;
  }

  nav {
    .menu-items {
      display: none;
    }
  }

  header {
    flex-direction: column;
    height: auto;
    max-height: fit-content;
    padding-top: 100px;

    .right {
      justify-content: center;
      position: relative;
      img {
        width: 100%;
        // max-width: 250px;
        padding: 0 16px;
        height: auto;
      }
    }
    .left {
      max-width: 100%;
    }

    .buttons {
      text-align: center;
      flex-direction: column;
      margin: 16px 0 32px 0;
      gap: 4px;
    }
  }

  .logos {
    .logos-slide img {
      height: 24px;
      margin: 16px;
    }
  }

  .services-section .container {
    margin: 0 20px;
   
  }
}
