@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}
