@use "../abstracts/variables" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a,
button,
input,
select,
textarea,
.trainer-card {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;

  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}

a {
  all: unset;
  cursor: pointer;
}
