@use "../abstracts/variables" as *;
body {
  font-family: $font-primary;
  background: $color-bg;
  color: $color-text;
  font-size: $font-base;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: $font-weight-semibold;
  line-height: 1.2;
}

