@use "variables" as *;
@mixin container {
  width: min(100%, $max-width);
  margin-inline: auto;
  @media (max-width: 1248px) {
    padding-inline: clamp(16px, 5vw, 48px);
  }
}
@mixin grid($cols) {
  display: grid;
  grid-template-columns: repeat($cols, minmax(0, 1fr));
  gap: $gap;
}
@mixin button-base {
  padding: 0.75em 1.25em;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: $font-primary;
  transition: all 0.1s ease-in-out;
}
@mixin hover-active-bold-effect {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      filter: brightness(1.15);
    }
  }
  &:active {
    transform: translate(5px, 5px);
    filter: brightness(0.85);
    box-shadow: none;
  }
}
@mixin card-bold-base {
  border: 1px solid $color-dark;
  box-shadow: $shadow-bold;
  padding: clamp(2rem, 4vw, 3.125rem);
  border-radius: 45px;
  transition: all 0.1s ease-in-out;
}
@mixin transition-base($property: all, $duration: $transition-base) {
  transition: $property $duration;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin scrollbar-hide {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
