// ==============================
// Global design variables
// ==============================
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

// Font families
$font-primary: "Montserrat Alternates", sans-serif;
$font-secondary: "Alumni Sans SC", sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Maximum content width
$max-width: 1200px;

// Breakpoints 
$breakpoint-mobile: 560px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Universal spacing between blocks
$gap: clamp(2rem, 3vw, 2.5rem);

// Typography scale
$font-base: clamp(1rem, 1.2vw, 1.125rem);
$font-lg: clamp(2rem, 4vw, 3.75rem);

// Color palette
$color-bg: #f9fafb; // Page background
$color-surface: #ffffff; // Cards / surfaces
$color-text: #222222; // Main text
$color-accent: #fd0; // CTA / highlight
$color-glass: rgba(255, 255, 255, 0.6); // Glassmorphism background
$color-dark: #191a23;
$color-black: #000;
$color-label-yellow: #FFFC99;
$color-label-white: #ffffff;
$color-card-yellow: #FFFC99;
$color-card-grey: #F3F3F3;


//Shadow
$shadow-sm: 0 6px 18px rgba(16, 24, 40, 0.06);
$shadow-bold: 5px 5px 0px 0 #191a23;

